<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Pandiyan">
    <meta name="description" content="Welcome to Pandiyan's Demo showcase Website.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">

    <title>
      {{ title }}
    </title>
    <!--link rel="icon" href="../../../../favicon.ico"-->
    <link rel="stylesheet" href="css/bootStrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/animate.css">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="css/bootStrap/jquery321.js"></script>	<!--includes jquery-->
	<script src="css/bootStrap/js/bootstrap.bundle.min.js"></script> <!--includes popper.js-->
  <script src="css/bootStrap/js/bootstrap.min.js"></script>	<!--includes bootstrap javascript components-->
  
  <!--script>
    /*function bounceNOW() {
      var element = document.getElementById("1234");
      element.classList.add("bounce");
    }
    function shutUP() {
      var element = document.getElementById("1234");
      element.classList.remove("bounce");
    }*/
    $(window).load(function(){        
   $('#myModal').modal('show');
    });
  </script-->
</html>
