<div class="login-styler">
<div class="jumbotron">
  <center>
    <h1 class="display-3 animated fadeInDown text-Padder"><b> Hello!</b></h1><br>
    <h3 class="animated fadeInLeft text-Padder">Welcome to my demo website, ready to get blown away in amazement ?</h3><br>
    <a href="/login"><button type="button" id="1234" onmouseover="bounceNOW()" onmouseout="shutUP()" class="btn btn-primary btn-lg animated text-Padder">Login now</button></a><br><br>
    <h5 class="animated fadeInRight text-Padder"> Don't have an account? &nbsp;<a href="/register"> Register now</a></h5><br>
    <small class="form-text text-muted" style="cursor:pointer"><a data-toggle="modal" data-target="#exampleModalLong">Terms and conditions</a></small>
  </cnter>
</div>
</div>

<!-- Modal -->
<div class="modal hide fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <b>Privacy Statement for This-is-a-Awesome-Webiste</b>
        <p>&emsp;&emsp;This-is-a-Awesome-Webiste has created this privacy statement in order to demonstrate our company’s commitment to privacy. 
        The following discloses our information gathering and dissemination practices for this website: easyprojects.net</p>

        

        <b>Collection of Personal Information from Service Visitors.</b>
        <p>&emsp;&emsp;This-is-a-Awesome-Webiste may collect and/or track <br>
        (1) the home server domain names, email addresses, type of client computer, files downloaded, search engine used, 
        operating system, and type of web browser of visitors to This-is-a-Awesome-Webiste web service, <br>
        (2) the email addresses of visitors that communicate with This-is-a-Awesome-Webiste via email, <br>
        (3) information knowingly provided by the visitor in online forms, registration forms, surveys, email, contest 
        entries, and other online avenues (including demographic and personal profile data), and <br>
        (4) aggregate and user-specific information on which pages visitors access.
        
        This-is-a-Awesome-Webiste may place Internet “cookies” on visitors’ hard drives. Internet cookies save data about individual visitors, 
        such as the organization’s name, password, user-name, screen preferences, and the pages of a service viewed by the visitor. 
        When the visitor revisits This-is-a-Awesome-Webiste web service, This-is-a-Awesome-Webiste may recognize the visitor by the Internet cookie and customize 
        the visitor’s experience accordingly. Visitors may decline Internet cookies, if any, by using the appropriate feature of
        their web client software, if available.</p>

        

        <b>Use of Personal Data Collected.</b>
        <p>&emsp;&emsp;Personal data collected by This-is-a-Awesome-Webiste may be used by This-is-a-Awesome-Webiste for editorial and feedback purposes, for marketing and 
        promotional purposes, for a statistical analysis of users’ behavior, for product development, for content improvement, 
        or to customize the content and layout of This-is-a-Awesome-Webiste service. Aggregate data on visitors’ home servers may be used for 
        internal purposes but will not be provided to third parties such as marketing firms. Individually identifying information,
        such as names, postal and email addresses, phone numbers, and other personal information which visitors voluntarily provide 
        to This-is-a-Awesome-Webiste may be added to This-is-a-Awesome-Webiste databases and used for future calls and mailings regarding service updates, new 
        products and services, and upcoming events.</p>
        <p>We keep customers contact information strictly confidential and use it only to send important information to our customers.</p>



        <b>Security Measures.</b>
        <p>&emsp;&emsp;This-is-a-Awesome-Webiste has implemented numerous security features to prevent the unauthorized release of or access to personal information.
        For example, all This-is-a-Awesome-Webiste employees are required to certify their understanding that personal information is considered 
        confidential, that it is important to safeguard personal information, and that This-is-a-Awesome-Webiste will take appropriate action against 
        any employee who fails to acknowledge these facts or adhere to the requisite standards of conduct. Please be advised, that 
        This-is-a-Awesome-Webiste is not responsible for the security of information transmitted via the Internet (electronic mail services).</p>

        <p>&emsp;&emsp;For more private communication contact This-is-a-Awesome-Webiste by telephone at +91-99624 27545.</p>

        

        <b>This-is-a-Awesome-Webiste Right to Contact Users.</b>
        <p>&emsp;&emsp;This-is-a-Awesome-Webiste reserves the right to contact service visitors regarding sales 
        and other informational requests made through its web service.</p>

        

        <b>This-is-a-Awesome-Webiste Right to Change Privacy Policy.</b>
        <p>&emsp;&emsp;This-is-a-Awesome-Webiste reserves the right to change this Privacy Policy at any time without notice. Any change to this Privacy Policy 
        shall be effective as to any visitor that has accepted the easyprojects.net Service Terms and Conditions before the change 
        was made.</p>

       

        <b>Contact Information</b>
        <p>&emsp;&emsp;This-is-a-Awesome-Webiste welcomes your comments regarding this Statement of Privacy, please contact us by e-mail, or postal mail.</P>
        <p>This-is-a-Awesome-Webiste<br>
        No.11, 62nd Floor,<br>
        64th Street, Vivekanadar Nagar,<br>
        Paris, Noida-407026, India.</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Accept Policy</button>
      </div>
    </div>
  </div>
</div>