<div class="login-styler">
  <div class="jumbotron">
    <h1 class="display-3"><b>Sign in</b></h1>
    <h5>Kindly enter your details to Sign in.</h5><br>
    
  {{# if errors }}
    <div style="padding-right:50">
      <div class="alert alert-danger" role="alert">
      <h4 class="alert-heading">{{ heading }}</h4>
      <hr>
      <ul>
        {{# each errors }}
          <li>{{ this.msg }}</li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
  
      <form method="post" action="/register">

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputName">Your Name</label>
            <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" required autofocus>
            <small id="emailHelp" class="form-text text-muted">Kindly please enter your full name.</small>
          </div>
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            {{# unless UserNamePresent }}
              <input type="email" class="form-control" id="inputEmail4" placeholder="Email" name="email" required>
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            {{ else }}
              <input type="email" class="form-control is-invalid" id="inputEmail4" placeholder="Email" 
              name="email" data-toggle="modal" data-target="#exampleModalCenter" required>
              <div class="invalid-feedback">
                The Email ID provided already exists. Please enter another Email ID to register a account.
              </div>
            {{/unless}}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputPasswordfir">Password</label>
            <input type="password" class="form-control" id="inputPasswordfir" placeholder="Password" name="password1" required>
            <small id="emailHelp" class="form-text text-muted">Password must be 8-20 characters long.</small>
          </div>
          <div class="form-group col-md-6">
            <label for="inputPasswordsec">Re-Enter your Password</label>
            <input type="password" class="form-control" id="inputPasswordsec" placeholder="Re-Enter your Password" name="password2" required>
            <small id="emailHelp" class="form-text text-muted">Re-enter the Password that you entered just before.</small>
          </div>
        </div>

        <div class="form-group">
          <label for="inputAddress">Address 1</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" name="address1" required>
          <small id="emailHelp" class="form-text text-muted">Enter your door number,residence's name, street's name</small>
        </div>

        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor" name="address2" required>
          <small id="emailHelp" class="form-text text-muted">Enter your colony name and post in which you live</small>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity" name="city" required>
            <small id="emailHelp" class="form-text text-muted">Enter the city name you live in.</small>
          </div>

          <div class="form-group col-md-4">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control" name="state" required>
              <option selected>  </option>
              <option>Andra Pradesh</option>
              <option>Arunachal Pradesh</option>
              <option>Assam</option>
              <option>Bihar</option>
              <option>Chhattisgarh</option>
              <option>Gujarat</option>
              <option>Goa</option>
              <option>Haryana</option>
              <option>Himachal Pradesh</option>
              <option>Jammu and Kashmir</option>
              <option>Jharkhand</option>
              <option>Kerala</option>
              <option>Karnataka</option>
              <option>Madya Pradesh</option>
              <option>Maharashtra</option>
              <option>Manipur</option>
              <option>Meghalaya</option>
              <option>Mizoram</option>
              <option>Nagaland</option>
              <option>Orissa</option>
              <option>Punjab</option>
              <option>Rajasthan</option>
              <option>Sikkim</option>
              <option>Tamil Nadu</option>
              <option>Tripura</option>
              <option>Uttaranchal</option>
              <option>Uttar </option>
              <option>West Bengal</option>
              <option>Andaman and Nicobar Islands</option>
              <option>Chandigarh</option>
              <option>Dadar and Nagar Haveli</option>
              <option>Daman and Diu</option>
              <option>Delhi</option>
              <option>Lakshadeep</option>
              <option>Pondicherry</option>
            </select>
            <small id="emailHelp" class="form-text text-muted">Enter the Indian state you live in.</small>
          </div>
          <div class="form-group col-md-2">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip" name="zip" required>
            <small id="emailHelp" class="form-text text-muted">Enter your Postal/Zip code</small>
          </div>
        </div>

        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck" name="checkMeOut">
            <label class="form-check-label" for="gridCheck">
              Check me out
            </label>
          </div>
        </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
      
      </form>
    </div>
  </div>